
<div class="banner">
  <div class="contacts">
    <div class="container">
     <p class="title is-1">Security Systems</p>
     <p class="title is-2">Installation experts</p>
     <button class="button is-warning is-large">Contact Us</button>
    </div>
  </div>
  <div class="clients">
    <div class="container">
    <div class="row logos">
     <div><h1>Some of our Clients</h1></div>
     <div><h3>|Brigtside Rehabiltation center</h3></div>
     <div><h3>| Kenyatta University</h3></div>
     <div><h3>| Syngenta</h3></div>
     <div><h3>| National Museums of Kenya</h3></div>
    </div> 
     
    </div>
    </div>
</div>
