<p class="title is-4">Add Main images</p>
<app-add-image (myNotify)='imageNotify($event)'></app-add-image>
<p [hidden]="image" class="help is-danger">Image is required</p>
<p [hidden]="!image" class="help is-success">Image added!!</p>

<div *ngIf="image">
    {{image.filename}}
    <img [src]="'/uploads/' + image.filename"width="145px" height="auto">
    <button class="button is-danger"(click)="removeImage()">Delete</button>
  
</div>

<form action="" [formGroup]="myForm">
  
<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input" formControlName="title">
  </div>

</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea" formControlName="desc"></textarea>
  </div>
</div>
<button (click)= "onSubmit()"class="button" [disabled]="!image || myForm.invalid">Submit</button>
<button mat-dialog-close class="button">Cancel</button>
</form>
