<div class="footer">
  <div class="container">
  <div class="columns">
    <div class="column is-one-third">
        <p class="title is-5"> Links:</p>
      <ul>
        <li>Home</li>
        <li>Automated Gates</li>
        <li>Fire Supression</li>
        <li>CCTV</li>
        <li>Alarms</li>
        <li>Access Control</li>
        <li>Careers</li>
        <li>Contact Us</li>
      </ul>
    </div>
    <div class="column is-one-third">
      <p class="title is-5"> Contact us:</p>
      <p>Cell: + 254 724 604 800</p>
      <p>Email: info@solutionsciencetechnologies.com</p>
      <p>Postal: 16942-00620 NRB</p>
    </div>
    <div class="column is-one-third">
        <p class="title is-5">Customer Support:</p>
    <p>support@solutionsciencetechnologies.com</p>
      </div>
  </div>
</div>
</div>