<div class="dashboard">
<div class="columns">
<div class="column">
<section class="panel">
  <div class="panel-heading">
      <p class="title is-3">Home page</p>
  </div>
  <div class="panel-block" *ngFor="let h of home">
    <button class="button is-primary is-outlined">{{h.title}}</button>
  </div>
  <div class="panel-block">
      <button class="button is-link">
          <mat-icon (click)="addHome()">playlist_add</mat-icon> 
        </button>

 </div>
  </section>
  <section class="panel">
      <div class="panel-heading">
          <p class="title is-3"> Fire page</p>
      </div>
      <div class="panel-block" *ngFor="let f of fire">
        <button class="button is-primary is-outlined">{{f.title}}</button>
      </div>
      <div class="panel-block">
          <button class="button is-link">
              <mat-icon (click)="addHome()">playlist_add</mat-icon> 
            </button>
    
     </div>
      </section>
</div> 
<!-- end of separating column -->
</div> 
<!-- end  columns -->
</div>
<app-add-image></app-add-image>