<div class="dashboard">
<div class="columns">
<div class="column">
<section class="panel">
  <div class="panel-heading">
      <p class="title is-3">Home page</p>
  </div>
  <div class="panel-block" *ngFor="let h of home">
    <button class="button is-primary is-outlined">{{h.title}}</button>
  </div>
  <div class="panel-block">
    <button class="button is-link">
        <mat-icon (click)="addItems('home')">playlist_add</mat-icon> 
      </button>

 </div>
  </section>
  <section class="panel">
      <div class="panel-heading">
          <p class="title is-3"> Fire page</p>
      </div>
      <div class="panel-block" *ngFor="let f of fire">
        <button class="button is-primary is-outlined">{{f.title}}</button>
      </div>
      <div class="panel-block">
        <button class="button is-link">
            <mat-icon (click)="addItems('fire')">playlist_add</mat-icon> 
          </button>
    
     </div>
      </section>

 
    <section class="panel">
        <div class="panel-heading">
            <p class="title is-3"> Gate Section</p>
        </div>
        <div *ngFor="let g of gates">
        <div class="panel-block">
          <button class="button is-primary is-outlined">{{g.title}}</button>
          <button class="button is-primary" (click)="addItemTypes(g._id, 'gate')">Add Types</button>
          <button class="button is-danger">Delete</button><br/>
       </div>
       <div class="panel-block">
     <p class="panel-tabs"><a class="is-active" *ngFor ="let t of g.types" (click)="addFeature(t._id, 'gate', g._id)" >{{t.title |uppercase |slice:0:15}} ..</a></p>
    </div>
    <a class="panel-block is-active">
            <span class="panel-icon">
              <i class="fas fa-book"></i>
            </span>
            bulma
          </a>
       </div>
        <div class="panel-block">
            <button class="button is-link">
                <mat-icon (click)="addItems('gate')">playlist_add</mat-icon> 
              </button>
             
      
       </div>
  
        </section>

        <section class="panel">
            <div class="panel-heading">
                <p class="title is-3">CCTV SECTION</p>
            </div>
            <div *ngFor="let c of cctv">
            <div class="panel-block">
              <button class="button is-primary is-outlined">{{c.title}}</button>
              <button class="button is-primary" (click)="addItemTypes(c._id, 'cctv')">Add Types</button>
              <button class="button is-danger">Delete</button><br/>
           </div>
           <div class="panel-block">
                <p class="panel-tabs">
                        <a class="is-active" *ngFor ="let t of c.types">{{t.title |uppercase |slice:0:15}} ..</a>
                    </p></div></div>
            <div class="panel-block">
                <button [disabled]="cctv" class="button is-link">
                    <mat-icon (click)="addItems('cctv')">playlist_add</mat-icon> 
                  </button>
                 </div></section>
 
 <section class="panel">
                        <div class="panel-heading">
                            <p class="title is-3">ALARM SECTION</p>
                        </div>
                        <div *ngFor="let a of alarm">
                        <div class="panel-block">
                          <button class="button is-primary is-outlined">{{a.title}}</button>
                          <button class="button is-primary" (click)="addItemTypes(a._id, 'alarm')">Add Types</button>
                          <button class="button is-danger">Delete</button><br/>
                       </div>
                       <div class="panel-block">
                            <p class="panel-tabs">
                                    <a class="is-active" *ngFor ="let t of a.types">{{t.title |uppercase |slice:0:15}} ..</a>
                                </p></div></div>
                        <div class="panel-block">
                            <button  class="button is-link">
                                <mat-icon (click)="addItems('alarm')">playlist_add</mat-icon> 
                              </button>
                             </div>
    </section>
    <section class="panel">
            <div class="panel-heading">
                <p class="title is-3">ACCESS CONTROL SECTION</p>
            </div>
            <div *ngFor="let a of access">
            <div class="panel-block">
              <button class="button is-primary is-outlined">{{a.title}}</button>
              <button class="button is-primary" (click)="addItemTypes(a._id, 'access')">Add Types</button>
              <button class="button is-danger">Delete</button><br/>
           </div>
           <div class="panel-block">
                <p class="panel-tabs">
                        <a class="is-active" *ngFor ="let t of a.types" (click)="addFeature()" >{{t.title |uppercase |slice:0:15}} ..</a>
                    </p></div></div>
            <div class="panel-block">
                <button  class="button is-link">
                    <mat-icon (click)="addItems('access')">playlist_add</mat-icon> 
                  </button>
                 </div>
</section>
</div> 
<!-- end of separating column -->
</div> 
<!-- end  columns -->
</div>
