<form action="" [formGroup]="myForm">
  
<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input" formControlName="title">
  </div>

</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea" formControlName="desc"></textarea>
  </div>
</div>
<button (click)= "onSubmit()"class="button">Submit</button>
<button mat-dialog-close class="button">Cancel</button>
</form>
