<div class="main">
  <div class="container">
    <div class="menu">
<div><button class="button is-white" href="">Home</button></div>
<div><button class="button is-white" href="">Automated Gates</button></div>
<div><button class="button is-white"  href="">Fire Suppression</button></div>
<div><button class="button is-white"  href="">CCTV</button></div>
<div><button class="button is-white"  href="">Alarms</button></div>
<div><button class="button is-white"  href="">Access Control</button></div>
<div><button class="button is-white"  href="">Careers</button></div>
<div><button class="button is-white"  href="">Contact Us</button></div>
</div>
  </div>
</div>
