<div class="main">
  <div class="container">
    <div class="menu">
<div><button class="button is-white" routerLink="/">Home</button></div>
<div><button class="button is-white"  routerLink="gates">Automated Gates</button></div>
<div><button class="button is-white"  routerLink="fire">Fire Suppression</button></div>
<div><button class="button is-white"  routerLink="">CCTV</button></div>
<div><button class="button is-white"  routerLink="">Alarms</button></div>
<div><button class="button is-white"  routerLink="">Access Control</button></div>
<div><button class="button is-white"  routerLink="">Careers</button></div>
<div><button class="button is-white"  routerLink="">Contact Us</button></div>
</div>
  </div>
</div>
