<div class="home">
    <div class="container">
        <button *ngIf="!cctv" class="button is-warning is-loading is-large" >Loading</button>
  <div *ngFor="let g of cctv">
    <div class="columns">
      <div class="column is-three-quarters">
        <p class="title is-4">{{g.title}}</p>
        <p>{{g.desc}}</p>
      </div>
      <div class="column">
          <img [src]="'/uploads/' + g.images[0]?.filename">
      </div>
    </div>
    <div class="types">
    <div *ngFor="let t of g.types">
      <div class="columns">
        <div class="column is-three-quarters">
          <p class="subtitle">{{t.title}}</p>
          <p>{{t.desc}}</p>
        </div>
        <div class="column">
            <img *ngIf="t.images[0]?.filename" [src]="'/uploads/' + t.images[0]?.filename">
  
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  